<div class="candidate-details-back">
  <a href="/" class="candidate-details-back-link">&larr; Back to Candidate List</a>
</div>
<div *ngIf="candidate" class="candidate-details-container">
  <img class="candidate-details-photo" [src]="candidate.photoUrl" [alt]="candidate.name" />
  <h2 class="candidate-details-name">{{ candidate.name }}</h2>
  <div class="candidate-details-bio">{{ candidate.bio }}</div>
  <div class="candidate-details-reason">{{ candidate.reasonForRunning }}</div>
  <a *ngIf="candidate.learnMoreUrl" class="candidate-details-link" [href]="candidate.learnMoreUrl" target="_blank" rel="noopener">Learn More</a>
  <div *ngIf="candidate.whyVoteForMe" class="candidate-details-why">{{ candidate.whyVoteForMe }}</div>
  <div *ngIf="candidate.additionalMedia?.length" class="candidate-details-media">
    <div *ngFor="let media of candidate.additionalMedia">
      <ng-container [ngSwitch]="media.type">
        <img *ngSwitchCase="'photo'" [src]="media.url" [alt]="media.description || 'Candidate media'" class="candidate-media-photo" />
        <video *ngSwitchCase="'video'" [src]="media.url" controls class="candidate-media-video"></video>
        <iframe *ngSwitchCase="'youtube'"
          class="candidate-media-video"
          [src]="`https://www.youtube.com/embed/${media.url}`"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </ng-container>
      <div class="candidate-media-description">{{ media.description }}</div>
    </div>
  </div>
</div>
<div *ngIf="!candidate" class="candidate-details-notfound">Candidate not found.</div>
