/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #B24930;
    --primary-transparent: #B2493011;
    --secondary: #7D8A2E;
    --secondary-transparent: #7D8A2E11;
    --accent: #3A3A3A;
    --accent-transparent: #3A3A3A11;
    --neutral: #F4F1ED;
    --neutral-transparent: #F4F1ED11;
}
